* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.purple {
    color: #6415ff !important;
}   

img {
    max-width: 100%;
    height: auto;
    }
        
main {
    margin-bottom: 96px;
}

section {
    margin-bottom: 80px;

}   
/* Navigation Bar */

nav {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 48px;
    font-weight: bold;
    color: #6415ff;
    text-decoration: none;
}

.nav__logo img {
    width: 100px;
    height: auto;
}

.nav__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row.nav__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav__link--anchor {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav__link--anchor:hover {
    cursor: pointer;
    color: #6415ff;
    background-color: #f0e6ff;
}
.nav__link--button {
    background-color: #6415ff;
    color: white;
    font-size: 20px;
    padding: 10px 32px;
    border: none;
    border-radius: 9999px;
    transition: all 0.3s ease;
    }

/*About Section*/

.container__about {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row--about {
    width: 40%;
    font-size: 18px;
    line-height: 1.4;
}


.logo__img {
    width: 100%;
    height: auto;
    flex-direction: center;
}

.about__img {
    width: 60%;
    font-size: 18px;
    line-height: 1.4;
}

.about__img img {
    width: 100%;
    height: auto;
}

/* Email Copied from original per instructions
Can't make it look right even copying :( */

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border: 2px solid #e5e7eb;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms ease;
    outline: none;
}

.header__email--input:hover {
    border-color: #cbd5e0;
}

.header__email--input:focus {
    border-color: #6415ff;
}

.header__email--btn {
    position: absolute;
    right: 0;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: #5011cc;
    cursor: pointer;
}

/* Features */

#features .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    width: 56px;
    height: 56px;
    aspect-ratio: 1 / 1;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.feature__img {
    width: 28px;
    height: 28px;
    display: block;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
    line-height: 1.25;
}

.feature__para {
    margin-top: 8px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 1.625;
}

.container__features {
    margin-top: 60px;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.features__heading {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Shared section typography */
.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
    text-align: center;
}
.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    text-align: center;
}

#features .row--features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    max-width: 576px;
    margin: 0 auto;
}

/* Quality */

.row--quality {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
}

.qualities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
}

.qualities__list--item {
    width: calc(100%/3);
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.qualities__list--img {
    width: 56px;
    height: 56px;
    aspect-ratio: 1 / 1;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qualities__list--img img {
    width: 24px;
    height: 24px;
}

.qualities__list--description {
    font-size: 24px;
    margin-bottom: 10px;
}

.qualities__list--description h2 {
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
    line-height: 1.25;
}

.qualities__list--description p {
    margin-top: 8px;
    font-size: 16px;
    color: #7c8ba1;
    line-height: 1.625;
}

/* Professionals */

.container__professionals {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px;
    border: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.row--professionals {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.professionals__img {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.professionals__img img {
    width: 100%;
    height: auto;
}

.professionals__anchor:not(.professionals__button) {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.professionals__anchor:hover:not(.professionals__button) {
    cursor: pointer;
    color: #6415ff;
    background-color: #f0e6ff;
}
.professionals__button {
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    transition: all 0.3s ease;
    line-height: 1;
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    }
.professionals__button:hover {
    background-color: #5011cc;
    color: #fff;
}

/* Steps */
.container__steps {
    display: flex;
    gap: 32px;
    margin-top: 40px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row--steps {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.row__steps row {
        align-items: center;
}

.steps__img {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.steps__img img {
    width: 100%;
    height: auto;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.steps__list {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.step {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.step__title {
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    line-height: 1;
    margin-bottom: 4px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin-right: 20px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
    font-size: 18px;
    line-height: 1.4;
}

.steps__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */

.container__values {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px;
    border: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.row--values {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.values__img {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}

.values__img img {
    width: 100%;
    height: auto;
}

.values__anchor:not(.values__button) {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.values__anchor:hover:not(.values__button) {
    cursor: pointer;
    color: #6415ff;
    background-color: #f0e6ff;
}
.values__button {
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    transition: all 0.3s ease;
    line-height: 1;
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    }
.values__button:hover {
    background-color: #5011cc;
    color: #fff;
}

/* PRICING */

.container__pricing container {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 40px;
    border: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.row--pricing {
    width: 50%;
    font-size: 18px;
    line-height: 1.4;
}   

.pricing__anchor:not(.pricing__button) {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.pricing__anchor:hover:not(.pricing__button) {
    cursor: pointer;
    color: #6415ff;
    background-color: #f0e6ff;
}
.pricing-personal__button, .pricing-business__button, .pricing-enterprise__button {
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    transition: all 0.3s ease;
    line-height: 1;
    margin-top: 32px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    }

.pricing-personal__button:hover, .pricing-business__button:hover, .pricing-enterprise__button:hover {
    background-color: #5011cc;
    color: #fff;
}

.plan {
    border: 5px solid #e5e7eb; margin: 26px;
    border-radius: 4px;
    padding: 24px;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
}
.plan__top {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 20px 24px;
    border-bottom: 2px solid #e2e8f0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.plan__middle {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 20px 24px;
    border-bottom: 2px solid #e2e8f0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.plan__bottom {
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 20px 24px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.plan__feature {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #718096;
    line-height: 1.5;
    text-align:center;
}